{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white" href="/" title="Home">Home</a>  
  </nav>
{% endblock %}

{% block body %}
    <h5 align="center">Login</h5>
  	<br>
    <div class="row">
    <div class="col-sm-6 offset-sm-3">
    <div class="jumbotron">
    <center>
  	<form action="" method="post">
  		<input type="text" placeholder="Username" name="username" value="{{request.form.username}}"><br><br>
   		<input type="password" placeholder="Password" name="password" value="{{request.form.password}}"><br><br>
  		<input type="submit" value="Login" class="btn btn-success">
      <a href="/register"><input type="button" value="Register" class="btn btn-secondary"></a>
  	</form>
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}

    {% if error %}
      <p class="error"><strong>{{ error }}</strong></p>
    {% endif %}
    </center>
    </div>
    </div>
    </div>
{% endblock %}